# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio
frontend/*.iml
frontend/.idea/

# Flutter / Dart / Pub
frontend/**/doc/api/
frontend/**/ios/Flutter/.last_build_id
frontend/.dart_tool/
frontend/.flutter-plugins-dependencies
frontend/.pub-cache/
frontend/.pub/
frontend/build/
frontend/coverage/

# Symbolication / obfuscation
frontend/app.*.symbols
frontend/app.*.map.json

# Android build outputs
frontend/android/app/debug
frontend/android/app/profile
frontend/android/app/release

# Legacy folder (removed from repo)
FE/

.m2
# Ignore docs-private folder
docs-private/
*.docx
*.png
*.md 

# Backend target
backend/target/
backend/*.jar
